<div class="flex flex-col justify-center  items-center gap-y-5">
    <img src="landing.jpg" alt="Landing">
    <div class="flex flex-col justify-center py-6 items-center gap-y-5">
        <h1>Adéntrate en el corazón de Nápoles con Nike Field General, un
            clásico total y el lienzo eprfecto para lucir tu estilo
            personal.</h1>
        <a href="/products"
            class="bg-black cursor-pointer text-white font-bold py-2 px-4 rounded-full">
            Descubrir la colección
        </a>
    </div>
</div>