@import "tailwindcss";


@font-face {
  font-family: 'HelveticaNowVar';
  src: url('assets/fonts/HelveticaNowVar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'HelveticaNowVar', sans-serif;
}